@font-face {
    font-family: 'MADE Carving Soft'; /* Fontun ismi */
    src: url('MADECarvingSoftPERSONALUSE-Regular.otf') format('opentype'); /* Font dosyasının yolu */
    font-weight: normal; /* İsteğe bağlı olarak font ağırlığı */
    font-style: normal; /* İsteğe bağlı olarak font stili */
}



body {
    font-family: MADE Carving Soft;
    background-color: #1e1f20;
}

.all {
  margin-top: 40px;
}

.baslık {
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-left: 143px;
    padding: 7px;

}

.cointainer {
    display: flex;
    margin-top: 10px;
}

.left{
  margin-top: -10px;
    margin-left: 150px;
    max-width: 50%;
}

.left>p {
    max-width: 75%;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.resim{
    width: 50%;
    height: auto;
    border-radius: 20px;
}

.right{
    margin-left: 1px;
}

.right>a{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

a.btn {
    font-size: 21px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none; /* Link alt çizgisini kaldır */
  }
  
  a.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: 0.5s ease;
  }
  
  a.btn:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
  }
  
  a.btn:hover::before {
    width: 100%;
  }
  
  a.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  a.btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }
  

  footer {
    position: fixed;
    bottom: 20px;  
    right: 20px;
  }

/* From Uiverse.io by vinodjangid07 */ 
.card {
  width: fit-content;
  height: fit-content;
  background-color: #1e1f20;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 5px 5px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

